[submodule "assets/vendor/Font-Awesome"]
	path = assets/vendor/Font-Awesome
	url = git@github.com:gqw/Font-Awesome.git
	
[submodule "assets/vendor/bootstrap"]
	path = assets/vendor/bootstrap
	url = git@github.com:gqw/bootstrap.git
